
# URL base del backend Java Spring Boot
BACKEND_API_URL=http://localhost:8090

# Puerto donde se ejecutará el servidor Express
PORT=3002
# Entorno de desarrollo (development, production, test)
NODE_ENV=development

# Clave secreta para sesiones
SESSION_SECRET=tu_clave_secreta_aqui
# Secreto para tokens JWT
JWT_SECRET=tu_jwt_secreto_aqui
# Tiempo de expiración de tokens JWT
JWT_EXPIRES_IN=24h


# Origen permitido para CORS
CORS_ORIGIN=http://localhost:3002